body {
    background-color: #f2e0e1;
      font-family: "Open Sans", sans-serif;

}



.App-header {
    margin: 30px 0;
    font-size: 65px;
    text-align: center;
color: #C86B85;


}


.App-footer {
    text-align: center;
    margin: 30px 0;
    font-size: 13px;
}

.App a {
color: #C86B85;
text-decoration: none;
transition: all 150ms ease-in-out;
font-weight: 600;
}

.App a:hover {
text-decoration: underline;
}